* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", system-ui;
  color: #eee;
  background-color: #222;
}

/* HEADER */

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
